@model Proyecto_KM.Models.Task

<center>
    <div class="card border-primary mb-3" style="max-width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Paciente</h5>
            <p class="card-text">Nombre: @Model.Nombre</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Apellido: @Model.Apellido</li>
            <li class="list-group-item">DPI: @Model.DPI</li>
            <li class="list-group-item">Fase: @Model.Fase</li>
        </ul>
    </div>
</center>


<style>
    .container-fluid {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 88vh;
        background-image: url("/svg/waves_landing.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>